/* Estilizando a seção "main" */
main {
    background: #ff7a7a;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}

/* Estilizando a seção "div" */
div {
    margin: auto;
    width: 170px;
}

/* Estilizando as imagens através das IDs "imagem1" e "imagem2" */
#imagem1, #imagem2 {
    width: 200px;
    height: 200px;
}

/* Estilizando os botões através da classe "btn" */
.btn {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
}
    /* Definindo estilizações especiais para o botão de "sim" */
    .sim {
        position: fixed;
        display: block;
    }
    /* Definindo estilizações especiais para o botão de "não" */
    .nao {
        position: absolute;
    }